
  $animationSpeed: 50s;

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-400px * 7))}
  }

.carousel{
  height: 797px;
  margin:0 -30px;
  overflow:hidden;
  position: relative;
  width: 100vw;
}

.image-container{
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    justify-content: space-around;
    gap:30px;
    width: calc(400px * 12);
    padding-top: 70px;
    padding-bottom: 30px;
  

  img{
        height: 737px;
        object-fit: cover;

}
      
.slides{
   
    height: 700px;
}
}