

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3516px);
  }
}

.carousel {
  height: 700px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  padding-top: 80px;
}

.slide-track {
  display: flex;
  width: 7032px;
  animation: scroll 50s linear infinite;

}

.slide {
  height: 700px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 15px;
}

img.slide {
  width: 100%;
  object-fit: cover;
  height: 700px;
}