

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3516px);
  }
}

.carousel {
  padding-top: 80px;
  width: 100vw;
  margin-right:0;
  margin-left: -30px;
}

.slide {
  height: 700px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 15px;
}

img.slide {
  width: 100%;
  object-fit: cover;
  height: 700px;
}
