* {
  margin: 0;
  padding: 0;
}

body {

  background-color: rgba(242, 242, 242, 1);
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: 500;

}

// MAIN_HEADER

.header {
  
  padding-top: 1.56rem;
 
}

.up-header {
  display: flex;
  justify-content: space-between;
}

.about {
  align-self: flex-start;
}

.low-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.low-header__2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-svg {
  align-self: flex-end;
}

// HOMEPAGE
.container {
width: 100%;
height: 100vh;

video {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  z-index: -1;
  opacity: 75;
}

}

.content-container {
  
  margin: 1rem 1.87rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page__2 {
  display: flex;
  justify-content: center;
  // padding-top: 15rem;
  
  

}



.footer-low {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: flex-end;
  // padding-top: 15.3rem;
  margin-bottom: 1rem;
  
}


.footer-low__film {
  height: 100%;


}

.footer-low__emb {

  justify-self: end;
  align-self: end;



}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.01rem;
  line-height: 1.3125rem;
}

a.logo {
  font-size: 3.424rem;

  span {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;

  }
}




a.film {
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
}

a.embroidery {

  font-size: 7.5rem;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: italic;
}




// SECONDPAGE

.film-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: pink;
  flex: 0;


  border: 1px solid black;

}




.film-page__2 {
  background-color: blue;
  display: flex;
  justify-self: center;
  align-self: center;
  height: auto;
  padding-top: 9.75rem;
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  flex-shrink: 1;
  flex: 1;
}

.film-page__3 {
  display: flex;
  justify-content: space-between;
  padding-top: 11.25rem;
  flex-shrink: 1;
  background-color: beige;

}

.film-page__3__1 {
  font-size: 17px;
  padding-top: 20px;
  padding-left: 1.875rem;
  align-self: start;
  justify-self: start;
  justify-items: start;
  width: 40%;
}

.film-page__3__2 {
  font-size: 46px;
  font-family: 'Inter';
  font-style: Medium;
  line-height: 56px;
  line-height: 100%;
  align-self: start;
  justify-self: start;
  justify-items: start;
  width: 60%;
}

.film-page__4 {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-top: 15.6rem;
  padding-left: 4vw;
  flex-shrink: 1;


}

.film-page__5 {
  display: flex;
  flex-direction: column;
  height: 1rem;
  width: 40vw;
  flex: 0;
  padding-left: 50%;
  padding-top: 3.75rem;
  flex-shrink: 1;

}

.film-page__6 {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-top: 15.6rem;
  padding-left: 15%;
  flex-shrink: 1;
}

.film-page__7 {
  display: flex;
  flex-direction: column;
  height: 1rem;
  width: 40vw;
  flex: 0;
  padding-left: 3%;
  padding-top: 10rem;
  flex-shrink: 1;

}

.film-page__8 {

  display: flex;
  flex-direction: column;
  width: 60vw;
  padding-top: 15.6rem;
  padding-left: 30vw;
  flex-shrink: 1;
  padding-right: 10%;
}

.film-page__9 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 18.75rem;
  padding-bottom: 16.7rem;

  a {
    font-size: 7.5rem;
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    padding-top: 10rem;
  }
}

@media screen and (max-width: 1200px) {
  a.film {
    font-size: 5rem;
  }

  a.embroidery {
    font-size: 6rem;
  }
}

/* On screens that are 600px or less
@media screen and (max-width: 900px) {
  a.film {
    font-size: 4rem;
  }

  a.embroidery {
    font-size: 5rem;
  }
}