*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Times';
  src: url(fonts/times_new_roman_italic.ttf);
}

@import "typography";
@import "header";
@import "filmpage";
@import "normalize.css";
@import "carousel";
@import "aboutme";
@import "noise";
@import "embroidery";
@import "tablecloth";
@import "contact";
@import "blog";
@import "article1";

body {
  background-color: rgba(242, 242, 242, 1);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
}

// HOMEPAGE
.container {
  width: 100%;
  // max-width: 1440px;
  height: 100vh;

  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -2;
  }
}

.content-container {
  margin: 1.8vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 1920px) {
    width: 70vw;
    align-self: center;
  }
}

.content-container__index {
  margin: 1.8vw 2vw;
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.home-page__2 {
  display: flex;
  justify-content: center;
  align-self: center;

  @media screen and (min-width: 1920px) {
    font-size: 40px;
    padding-top: 10vw;
  }
}
.footer-low {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-low__emb {
  justify-self: end;
  align-self: end;
}

//case styling
.page-base {
  opacity: 0;
  display: flex;
  flex-shrink: 1;
}

.page-base__img {
display: block;
width: 100%;
// object-fit: cover; ??
}

// animation

.goUp {
  animation: moveUp 1.5s ease-in-out forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(200px)
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// preloader
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;

  font-family: 'Inter', sans-serif;
  font-size: 125px;
  font-weight: 500;
  line-height: 151px;
  letter-spacing: -0.06em;

  @media screen and (min-width: 1920px) {
   font-size: 250px;
  }
}

.over {
  position: absolute;
  background-color: rgba(242, 242, 242, 1);
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  z-index: 1;
  transition: transform 1s ease-in-out;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.open-nav {
  transform: translateY(-100%);
}


// cursor
.small-cursor {
  position: fixed;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(24, 23, 23, 80%);
  // position: absolute;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: top 1s, left 1s;
  transition-timing-function: ease-out;
  opacity: 1;
  z-index: 3;

  @media screen and (min-width: 1920px) {
    height: 30px;
    width: 30px;
  }
}

.ball {
  position: fixed;
  height:100px;
  width:100px;
  border-radius: 50%;
  background-color: white;
  overflow:hidden;
  transform: translate(-50px, -50px) scale(0);
  pointer-events: none;
  opacity: 1;
  transition: transform 0.25s ease-in-out;

  @media screen and (min-width: 1920px) {
    width: 200px;
    height: 200px;
    }

}

.ball_inner {
  display:block;
  width: 200%;
  margin: 45% 0;
  position: absolute;
  animation: ball 3s linear infinite;
}

.ball_inner_text {
  float: left;
  width: 50%;
}

.ball_inner_text_p{
  font-size:15px;
  font-weight: 400;
  color: black;
  letter-spacing: 0.5%;

  @media screen and (min-width: 1920px) {
    font-size: 30px;
    }
}

@keyframes ball {
  0% { left: 0; }
  100% { left: -100%; }
}

.scaleUp {
  transform: translate(-50%, -50%) scale(1);
}

// img without link
.page-base__img__empty {
  display: block;
  width: 100%;
}


// tag
 .tag__name{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

text-align: right;
letter-spacing: -0.01em;

display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 10px 15px;
 gap: 10px;
 position: absolute;
 margin: 12px;
 width: 121px;
 height: 37px;
 background: white;
 border-radius: 200px;

 @media screen and (min-width: 1920px) {
width: 250px;
height: 60px;
font-size: 25px;
margin: 30px;
}
 }
