.main-header__grid {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(2, minmax(max-content, 50%)); 
    width: 100%;
    height: 100px;
    align-items: end;
    justify-items: start;
    justify-content: space-between;
    position: fixed;
    padding-top: 2%;
    
    
  }
  
  .main-header__grid__1 {
    font-size: 30px;
  }
  
  .main-header__grid__2 {
    justify-self: end;
    align-self: start;
  }
  
  .main-header__grid__3 {
    display: grid;
    grid-template-columns: min-content min-content;
   
  
  
  }
  
  .main-header__grid__4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    justify-self: end;

  }