
body {
  margin: 0;
  background-color: rgba(242, 242, 242, 1);
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: 500;

}

.page-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
}

.page-grid-2 {
  justify-self: center;
  align-self: center;
}

.page-grid-3 {

  align-self: end;
  padding-bottom: 3%;
}


.footer-low {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 50%));
  align-items: end;
  justify-items: space-between;
  width: 100%;

  height:max-content;
 

}

.footer-low__film {
  height: 100%;
}

.footer-low__emb {

  justify-self: end;
  align-self: end;

}

a {
  text-decoration: none;
  color: black;
  font-size: 17px;

  
  color: rgba(0, 0, 0, 1);
  letter-spacing:0.01rem ;
  line-height:1.3125rem ;
}

a.logo {
  font-size: 3.424rem;

  span {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;

  }
}


.main-header__grid {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(2, minmax(max-content, 50%)); 
  width: 100%;
  height: 100px;
  align-items: end;
  justify-items: start;
  justify-content: space-between;
  position: fixed;
  padding-top: 2%;
  
  
}

.main-header__grid__1 {
  font-size: 30px;
}

.main-header__grid__2 {
  justify-self: end;
  align-self: start;
}

.main-header__grid__3 {
  display: grid;
  grid-template-columns: min-content min-content;
 


}

.main-header__grid__4 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  justify-self: end;
}




a.film {
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
}

a.embroidery {

  font-size: 7.5rem;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: italic;
  



}

.main-grid {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  width: 100%;  
  gap: 5px;
  padding: 5px;
  background-color: pink;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid black;
  
}