

a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.01rem;
  line-height: 1.4vw;
  padding-bottom: 0.1vw;
  display: inline-block;
  position: relative;

  @media screen and (min-width: 1920px) {
    font-size: 40px;
  }
}


a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: rgb(22, 21, 21);
  transition: width 0.25s ease-out;
  width: 0;
}

a:hover:after {
  width: 100%;

}


a.logo {
  font-size: 3.8vw;
  padding-bottom: 1vw;
  padding-top: 1.7vw;
  flex-wrap: nowrap;
  letter-spacing: -0.01em;

  span {
    font-family: 'Times', sans-serif;
    font-style: italic;
    font-weight: 400;
  }
}

a.big {
  font-family: 'Inter', sans-serif;
  font-size: 8.7vw;
  font-weight: 500;
  line-height: 10.5vw;
  letter-spacing: -0.06em;
  text-align: left;
}

a.big_span {
  font-size: 10.5vw;
  font-family: 'Times', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 174.79px; /// ?????
  letter-spacing: -0.05em;
}

a.big:after,
a.big_span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  background: rgb(22, 21, 21);
  transition: width 0.25s ease-out;
  width: 0;
}


a.big:hover:after,
a.big_span:hover::after {
  width: 100%;
}

a.page-base__link:after,
a.page-base__link:hover::after{
  text-decoration: none;
  background: none;
}

@media screen and (max-width: 1300px) {
  a.big {
    font-size: 110px;
  }

  a.big_span {
    font-size: 125px;
  }
}

@media screen and (max-width: 1200px) {
  a.big {
    font-size: 100px;
  }

  a.big_span {
    font-size: 110px;
  }
}

@media screen and (max-width: 1080px) {
  a.big {
    font-size: 80px;
  }

  a.big_span {
    font-size: 95px;
  }
}

@media screen and (max-width: 875px) {
  a.big {
    font-size: 60px;
  }

  a.big_span {
    font-size: 75px;
  }
}


p.heading {
  font-family: 'Inter', sans-serif;
  font-size: 8.7vw;
  font-weight: 500;
  line-height: 10.5vw;
  letter-spacing: -0.06em;
  text-align: left;

  @media screen and (max-width: 1024px) {
    font-size: 100px;
  }

  @media screen and (max-width: 767px) {
    font-size: 80px;
  }
}

p.text-small {
  font-size: 17px;
  max-width: 40%;

}

p.text-big {
  max-width: 60%;
  font-family: 'Inter', sans-serif;
  font-size: 3.2vw;
  font-weight: 500;
  line-height: 3.9vw;
  letter-spacing: -0.06em;
  text-align: left;


  @media screen and (max-width: 1024px) {
    font-size: 30px;
    line-height: 40px;
  }
}

p.case-name {
  font-family: 'Inter', sans-serif;
  font-size: 2.8vw;
  font-weight: 500;
  line-height: 3.3vw;
  letter-spacing: -0.06em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding-top: 30px;

  @media screen and (max-width: 1024px) {
    font-size: 30px;
    padding-top: 0;
  }
}

p.time-place {
  font-family: 'Inter', sans-serif;
  font-size: 17px; 
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(150, 150, 150, 1);
  padding-top: 10px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    padding-top: 0;

  }
}


p.heading_italic {
  font-size: 10.5vw;
  font-family: 'Times', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 3.5vw;
  letter-spacing: -0.05em;

  @media screen and (max-width: 1024px) {
    font-size: 100px;
  }

  @media screen and (max-width: 767px) {
    font-size: 80px;
  }
}

p.explication {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.01em;
  text-align: center;
  padding-top: 20px;
}


p.heading-small{
font-family: 'Inter', sans-serif;
font-size: 6.25vw;
font-weight: 500;
line-height: 95px;
letter-spacing: -0.06em;
text-align: center;

}

p.quote {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;

}

p.author {
  font-family: 'Times', sans-serif;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.01em;
  text-align: center;
  padding-top: 50px;

}

p.contact-page {
  max-width: 461px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.01em;
  text-align: left;

}

p.contact-link {
  font-family: 'Inter', sans-serif;
  font-size: 47px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: left;
}




p.page-heading__blog {
font-family: 'Inter', sans-serif;
font-size: 90px;
font-weight: 500;
line-height: 95px;
letter-spacing: -0.06em;
text-align: center;

}